@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

html {
    margin: 0;
    padding: 0;
    font-family: "Inter", sans-serif;
    background-color: #f5f5fa;

    scroll-behavior: smooth;
    color: #323232;
}

body {
  margin: 0;
  padding: 0;
}

/* margin/padding: top right bottom left */

.container {
    padding: 0 20px;
    margin: 0 auto;
    width: 70vw;
}

/* nav */

.nav-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    width: 100%;
    background-color: #f5f5fa;
    z-index: 1;
}

.nav {
    padding-left: 10px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.nav-item {
    display: inline;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 0 30px;
}

.nav-link {
    text-decoration: none;
    color: #323232;
    font-size: 20px;
    font-weight: 500;
}

.nav-link:hover {
    color: #666666;
}

.nav-link:active {
    color: #919191fe;
}

/* HOME */

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
}

.home-title {
    text-align: center;
    font-size: 72px;
    margin-bottom: 0px;
    font-weight: 700;
}

.home-description {
    text-align: center;
    font-size: 20px;
    font-weight: 500;
}

.home-button {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.generic-button {
    font-family: "Inter", sans-serif;
    color: white;
    background-color: #b3a5f2;
    border: none;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 16px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}

.generic-button:hover {
    background-color: #a39ae8;
}

.generic-button:active {
    background-color: #8f86d9;
}

.content {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
    display: flex;
    flex-wrap: wrap;
}

.content-section-1 {
    flex: 1;
}

.content-section-2 {
    flex: 2;
    padding-left: 30px;
}

.content-section-title {
    font-size: 36px;
    font-weight: 700;
    margin-bottom: 0px;
}

.content-section-text {
    line-height: 30px;
}

.content-image-contact {
    width: 80%;
    padding-left: 20px;
}

.content-image-about {
    width: 100%;
}

#contact-rightpadding {
    padding-left: 0px;
    padding-right: 30px;
}

.link {
    text-decoration: none;
    color: #323232;
}

/* project section */
#projects{
    padding-top: 30px;
}
.project-title {
    font-size: 28px;
    font-weight: 700;
    padding-left: 5px;
}

.project-list {
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.project-image-container {
    flex-basis: 100%;
}

.project-item {
    background-color: #fff;
    display: flex;
    flex-wrap: wrap;
    flex: 1;
    border-radius: 15px;
    margin: 0 20px 20px 0;
}

.project-image-thumbnail {
    width: 100%;
    height: 125px;
    border-radius: 15px;
}

.paragraph-1 {
    padding-left: 10px;
}

.paragraph-2 {
    padding: 28px 10px 32px;
}

.paragraph-3 {
    padding: 28px 10px 61px;
}

.paragraph-4 {
    padding: 25px 10px 29px;
}

.fade {
    opacity: 0;
    transform: translateY(20vh);
    visibility: hidden;
    transition: opacity 0.6s ease-out, transform 1.2s ease-out;
    will-change: opacity, visibility;
  }
  .fade.visible {
    z-index: 0;
    opacity: 1;
    transform: none;
    visibility: visible;
  }